@import 'node_modules/modern-normalize/modern-normalize';
:root {
    --primary-text-color: #000000;
    --white-color: #FFFFFF;
    --accent-color: #F7941E;
    --section-color: #F1F1F2;
    --color-logo: #231F20;
    
}

body {
    min-width: 1400px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: var(--primary-text-color);

}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
button {
    cursor: pointer;
    font-style: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}




