.header-container {
  max-width: 1135px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Homemade Apple';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.16;
  color: #231f20;

  transition: color var(--base-transition);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}



.nav-link {
  padding-top: 36px;
  padding-bottom: 36px;

  font-size: 18px;
  line-height: 1.14;
  color: var(--primary-text-color);

  transition: color var(--base-transition);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-button {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--accent-color);

  transition: color var(--base-transition),
    background-color var(--base-transition);
}

.header-button:hover,
.header-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
