.blogs-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 2px solid red;
}

.blogs-title {
  margin-bottom: 25px;

  font-size: 32px;
  line-height: calc(38 / 32);
  text-align: center;
  text-transform: capitalize;

  color: var(--primary-text-color);
}

.blogs-text {
  margin-bottom: 70px;

  font-size: 18px;
  line-height: 135.94%;
  /* identical to box height, or 24px */

  text-align: center;

  color: var(--primary-text-color);
}
