<section class="presentation-section">
    <h2 class="invisibility">Presentation</h2>
    <div class="container">
        <div class="conrainer-row">
            <div class="half-container">
                <div class="col-container">
                    <h3 class="big-title-section">Find a gift for your wife or girlfriend</h3>
                    <p class="section-text">Struggling to find a gift for your wife or girlfriend?
                        No problem!</p>
                    <div class="presentation-section-btn-container">
                        <button class="presentation-section-btn" type="button">Find gift now</button>
                    </div>
                </div>
            </div>
            <div class="half-container one">
                <img src="./images/first-section-img.jpg" alt="Presentation" class="presintation-img" style="width:700;">
            </div>
        </div>
        <div class="conrainer-row">
            <div class="half-container">
                <img src="./images/first-section-img1.jpg" alt="Presentation" class="presintation-img" style="width:700;">
            </div>
            <div class="half-container two">
                <div class="col-container">
                    <h3 class="title-section">How we work</h3>
                    <p class="section-text txt-actually">We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift options.</p>
                    <div class="presentation-section-btn-container">
                        <button class="presentation-section-btn second-btn" type="button">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>