<footer class="footer">
    <div class="footer-container container">
        <div class="nav-container">
            <ul class="home-a-ul">
                <li><a href="" class="hover">Home</a></li>
                <li><a href="" class="hover">About</a></li>
            </ul>

            <h2 ><a href="" class="footer-logo hover-logo">logo</a></h2>

            <ul class="nav-a-ul">
                <li><a href="" class="hover">Service</a></li>
                <li><a href="" class="hover">Blog</a></li>
            </ul>
        </div>

        <div>
            <ul class="svg-ul">
                <li class="svg-li">
                    <a href="">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-fecabooc"></use>
                    </svg></a>
                </li>
                <li class="svg-li">
                    <a href="">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector"></use>
                    </svg></a>
                </li>
                <li class="svg-li">
                    <a href="">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-inst"></use>
                    </svg></a>
                </li>
                <li class="svg-li">
                    <a href="">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-youtube"></use>
                    </svg></a>
                </li>
                <li class="svg-li">
                    <a href="" >
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-pinterest"></use>
                    </svg></a>
                </li>
            </ul>
        </div>

        <div class="privacy">
            <p class="privasy-p">&#169;<span class="year"> 2010 — 2020 </span>Privacy — Terms</p>
        </div>
    </div>
</footer>