<footer class="footer">
    <div class="footer-container container">
        <div class="nav-container">
            <ul class="home-a-ul">
                <li class="hover">Home</li>
                <li class="hover">About</li>
            </ul>

            <h2 class="footer-logo hover-logo">logo</h2>

            <ul class="nav-a-ul">
                <li class="hover">Service</li>
                <li class="hover">Blog</li>
            </ul>
        </div>

        <div>
            <ul class="svg-ul">
                <li class="svg-li">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-fecabooc"></use>
                    </svg>
                </li>
                <li class="svg-li">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector"></use>
                    </svg>
                </li>
                <li class="svg-li">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-inst"></use>
                    </svg>
                </li>
                <li class="svg-li">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-youtube"></use>
                    </svg>
                </li>
                <li class="svg-li">
                    <svg width="44px" height="44px" class="hover">
                        <use href="./images/symbol-defs.svg#icon-Vector-pinterest"></use>
                    </svg>
                </li>
            </ul>
        </div>

        <div class="privacy">
            <p class="privasy-p">&#169;<span class="year"> 2010 — 2020 </span>Privacy — Terms</p>
        </div>
    </div>
</footer>