<section class="page__ready ready">
  <div class="ready__wrap container">
    <div class="ready__description">
      <h2 class="ready__title">Ready to get started?</h2>
      <p class="ready__text">Sign up or contact us</p>
    </div>

    <ul class="ready__list">
      <li class="ready__item">
        <a class="ready__button ready__button--find btn" href="#"
          >Find gift now</a
        >
      </li>
      <li class="ready__item">
        <a class="ready__button btn" href="#">How it works</a>
      </li>
    </ul>
  </div>
</section>
