<section class="gifts-section section">
  <div class="gifts-container">
    <h2 class="gifts-section-title">Gifts for all Occasions</h2>
    <p class="gifts-section-text">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="gifts-list">
      <li class="gifts-item">
        <a class="gift-link link" href="#">
          <img
            src="./images/birthday.jpg"
            alt="ball with Happy Birthday mark and cake with candles"
            width="270px"
          />
          <div class="gift-description">
            <h3 class="gift-title">Birthday</h3>
            <p class="gift-text">See More &gt;</p>
          </div>
        </a>
      </li>
      <li class="gifts-item">
        <a class="gift-link link" href="#">
          <img
            src="./images/anniversary.jpg"
            alt="shoes and a wedding bouquet"
            width="270px"
          />
          <div class="gift-description">
            <h3 class="gift-title">Anniversary</h3>
            <p class="gift-text">See More &gt;</p>
          </div>
        </a>
      </li>
      <li class="gifts-item">
        <a class="gift-link link" href="#">
          <img
            src="./images/valentines-day.jpg"
            alt="labels with inscriptions love me kiss me"
            width="270px"
          />
          <div class="gift-description">
            <h3 class="gift-title">Valentine's Day</h3>
            <p class="gift-text">See More &gt;</p>
          </div>
        </a>
      </li>
      <li class="gifts-item">
        <a class="gift-link link" href="#">
          <img
            src="./images/сhristmas.jpg"
            alt="сhristmas tree and toys on it"
            width="270px"
          />
          <div class="gift-description">
            <h3 class="gift-title">Christmas</h3>
            <p class="gift-text">See More &gt;</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
